@font-face {
    font-family: "Exo";
    src: url("/src/assets/font/Exo2.0-Thin.otf") format("opentype");
}
body {
    height: 100%;
    background-image: url("/src/assets/img/pat2.png");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Trebuchet MS, sans-serif;
}
.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 5e-05) 49.88%, rgba(0, 0, 0, 0.5) 100%);
}

